/*.qq-upload-spinner {*/
    /*display: inline-block;*/
    /*background-image: url("loading-spinner-blue.gif");*/
    /*background-size: cover;*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*vertical-align: text-bottom;*/
/*}*/

/*.qq-uploader {*/
    /*background-color:transparent;*/
    /*border: 0;*/
/*}*/

.qq-upload-list li.qq-upload-success {
    display: none;
    background-color: #EBF6E0;
    color: #424242;
    border-bottom: 1px solid #D3DED1;
    border-top: 1px solid #F7FFF5;
}