/* here you can put your own css to customize and override the theme */

/* HoangL */

.lock-form .form-actions, .lock-form .form-group {
    margin: 0 0 25px;
    padding-top: 10px;
}

.lock-form .form-actions .form-group {
    float: left;
    padding-left: 15px;
    margin: 0;
}

.lock-form .form-actions .form-group:not(.has-success) .md-checkbox label {
    color: #999;
}

.md-checkbox label {
    font-weight: normal;
}

.page-content-wrapper .page-content .col-md-12 {
    padding-top: 15px;
}

.portlet.light > .portlet-title > .caption {
    padding: 7px 0 0;
}

.portlet.light > .portlet-title > .actions {
    padding: 0;
}

.dataTables_extended_wrapper {
    margin-top: 0;
}

.portlet.light.portlet-datatable.portlet-fit > .portlet-body {
    padding: 10px 0 25px 0;
}

.dataTables_extended_wrapper .row {
    margin-right: -5px;
    margin-left: -5px;
}

.portlet-datatable .dataTables_wrapper .table-responsive {
    padding: 0 !important;
}

.portlet-datatable .dataTables_wrapper .table-bordered {
    border-left: 0 !important;
    border-right: 0 !important;
}

.form-body .form-group.form-md-line-input {
    margin: 0;
}

.form-body .form-group.form-md-line-input.form-md-floating-label {
    margin: 0 0 20px;
}

.portlet-fit .portlet-body .form-body .uploadify {
    padding-top: 10px;
}

table.dataTable thead td, table.dataTable thead th {
    border-bottom: 1px solid #e7ecf1;
}

/*.aws-thead-float > .table-bordered {*/
/*border-bottom: 1px solid #ddd !important;*/
/*}*/

.aws-thead-float table.dataTable thead tr th a {
    /*background: #fff;*/
    text-decoration: none;
    color: #333 !important;
}

.aws-thead-float table.dataTable thead tr th {
    /*background: #fff;*/
    /*color: #fff !important;*/
}

.aws-thead-float table.dataTable thead tr {
    background: #fff;
    /*color: #fff !important;*/
}

.aws-thead-float .table.dataTable {
    margin: 0 !important;
}

/*.lock-form .form-actions .btn {*/
/*width: 100px;*/
/*float: left;*/
/*}*/

/*.lock-form .login-100 {*/
/*width: 100% !important;*/
/*}*/
/*.lock-form .login-50 {*/
/*width: 50% !important;*/
/*}*/

/*.lock-body {*/
/*margin: 0;*/
/*}*/

/*.lock-form .form-actions, .lock-form .form-group {*/
/*margin-bottom: 10px;*/
/*}*/

/*.lock-form .form-actions {*/
/*margin-top: 10px;*/
/*}*/

/*.lock-form {*/
/*padding-right: 20px;*/
/*}*/

/*trungth_custom search bar*/
.search_form {
    margin: 0px;
    font-weight: 400;
    font-size: 14px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.search_form tr {
    height: 35px;
}

.table_report .first_col {
    text-align: left;
    vertical-align: middle;
}

.table_report td {
    text-align: center;
    vertical-align: middle;
}

.table_report th {
    text-align: center;
    vertical-align: middle;
}

input:placeholder-shown {
    font-style: italic;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.search_form input {
    width: 100%;
}

.table_report th {
    text-align: center;
    vertical-align: middle;
}

.cc_h1 {
    font-weight: 400;
    font-size: 18px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.no_data img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.uploadify {
    padding-left: 10px;
}

.uploadify-button.btn {
    line-height: 18px !important;
}